<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get Ready to Travel!</title>
        <meta name="description" content="Interactive travel planning app" />
        <meta name="keywords" content="travel, weather, planning, air quality, points of interest, packing"/>
        <meta name="author" content="Nicholas Monsma" />
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    </head>
    <body>
        <header>       
            <h1>Get Ready to Travel!</h1>
        </header>
        <main>
            <section id="input">
                <input type="text" id="city" placeholder="Where Are You Traveling?">
                <button id="submit">Start Planning</button>                
            </section>
            <section id="output">                
                <div id="forecast" class="card">
                    <div id="forecast-label" class="label">Forecast</div>
                    <div id="forecast-grid" class="data"></div>
                </div>
                <div id="air-quality" class="card">
                    <div id="aqi-label" class="label">Air Quality</div>
                    <div id="aqi" class="data"></div>
                </div>
            </section>
        </main>
        <footer>
            Data provided by OpenCage, WeatherBit, and Pixabay.
        </footer>

    </body>
</html>