<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get Ready to Travel!</title>
        <meta name="description" content="Interactive travel planning app" />
        <meta name="keywords" content="travel, weather, planning, air quality, points of interest, packing"/>
        <meta name="author" content="Nicholas Monsma" />
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    </head>
    <body>
        <header>       
            <h1>Let's Plan Your Trip!</h1>
            <input type="text" id="city" placeholder="Where Are You Traveling?">
            <button id="submit">Start Planning</button>                
        </header>
        <section class="top">
            <article id="forecast">
                <div id="forecast-grid" class="data"></div>                
                <div id="forecast-label" class="label">Weather</div>
            </article>
        </section>
        <section class="left">
            <div id="air-quality" class="card">
                <div id="aqi" class="data"></div>
                <div id="aqi-label" class="label">Air Quality</div>
            </div>
        </section>
        <section class="bottom">
            <div id="photo, hidden">
                <div id="photo-label" class="label">Photo</div>
                <div id="photo" class="data"></div>
            </div>
        </section>
        <section class="right">
            <div id="poi-label" class="label">Attractions</div>
        </section>
        <footer>
            Data provided by OpenCage, WeatherBit, and Pixabay.
        </footer>

    </body>
</html>