<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get Ready to Travel!</title>
        <meta name="description" content="Interactive travel planning app" />
        <meta name="keywords" content="travel, weather, planning, air quality, points of interest, packing"/>
        <meta name="author" content="Nicholas Monsma" />
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    </head>
    <body>
        <header>       
            <h1>Let's Plan Your Trip!</h1>
            <input type="text" id="city" placeholder="Where Are You Traveling?">
            <input type="date" id="date">
            <button id="submit">Start Planning</button>                
        </header>
        <section id="top" class="hidden">
            <article id="forecast" class="card">
                <div id="forecast-grid" class="data"></div>                                
            </article>
            <div id="forecast-label" class="label">Weather</div>
        </section>
        <section id="left" class="hidden">
            <article id="safety" class="card">
                <h2>Travel Advisory</h2>
                <div id="advisory" class="data"></div>
                <h2>Air Quality</h2>
                <div id="aqi" class="data"></div>                
            </article>
            <div id="safety-label" class="label">Safety</div>
        </section>
        <section id="bottom" class="hidden">
            <div id="photo-label" class="label">Photo</div>
            <article id="photo" class="card">                
                <div id="image" class="data"></div>
            </article>
        </section>
        <section id="right" class="hidden">
            <div id="date-label" class="label">Countdown</div>
            <article id="date" class="card">                
                <h2>Days until your trip:</h2> 
                <div id="countdown" class="data"></div>
            </article>            
        </section>
        <footer>
            Data provided by OpenCage, Pixabay, Travel-Advisory.info, and WeatherBit.
        </footer>
    </body>
</html>